body {
  width: 100wh;
  height: 100vh;
  background-image: url('./asset/img/bg-main.jpg');
  background-size: cover;
  margin : 0;
  padding: 0;
  overflow: hidden;
  font-family: "SF-D-SemiBold";
  font-size: 1rem;
  color: white;
}


@font-face {
  font-family: "SF-D-Black";
  src: url("./asset/font/SF-Pro-Display/SF-Pro-Display-Black.ttf");
}
@font-face {
  font-family: "SF-D-Bold";
  src: url("./asset/font/SF-Pro-Display/SF-Pro-Display-Bold.ttf");
}
@font-face {
  font-family: "SF-D-Heavy";
  src: url("./asset/font/SF-Pro-Display/SF-Pro-Display-Heavy.ttf");
}
@font-face {
  font-family: "SF-D-Light";
  src: url("./asset/font/SF-Pro-Display/SF-Pro-Display-Light.ttf");
}
@font-face {
  font-family: "SF-D-Medium";
  src: url("./asset/font/SF-Pro-Display/SF-Pro-Display-Medium.ttf");
}
@font-face {
  font-family: "SF-D-Regular";
  src: url("./asset/font/SF-Pro-Display/SF-Pro-Display-Regular.ttf");
}
@font-face {
  font-family: "SF-D-SemiBold";
  src: url("./asset/font/SF-Pro-Display/SF-Pro-Display-Semibold.ttf");
}
@font-face {
  font-family: "SF-D-Thin";
  src: url("./asset/font/SF-Pro-Display/SF-Pro-Display-Thin.ttf");
}
@font-face {
  font-family: "SF-D-UltraLight";
  src: url("./asset/font/SF-Pro-Display/SF-Pro-Display-Ultralight.ttf");
}